# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Virtualenv
.venv/
venv/
env/

# Downloaded data cache (re-created by train.py); models/ ARE committed
data/*.csv

# Secrets / OS
.env
.DS_Store
Thumbs.db
desktop.ini
.vscode/
